
<footer>
    <div class="footer" id="contact">

        <div class="section-header">
            <h1>Contact</h1>
            </div>

                <div class="contact-wrapper">


                    <div class="container">
                        <form action="/Home/SendMessage"  method="post"   enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-25">
                                    <label for="fname">First Name</label>
                                </div>
                                <div class="col-75">
                                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-25">
                                    <label for="lname">Last Name</label>
                                </div>
                                <div class="col-75">
                                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                                </div>
                            </div>

                    <div class="row">
                        <div class="col-25">
                            <label for="lname">Mail</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="mail" name="mail" placeholder="Your mail adress..">
                        </div>
                    </div>

                         
                            <div class="row">
                                <div class="col-25">
                                    <label for="subject">Subject</label>
                                </div>
                                <div class="col-75">
                                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <button id="btn"  class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                    <!-- Left contact page -->

                    <div class="direct-contact-container">

                        <ul class="contact-list">
                            <li class="list-item">
                                <i class="fa fa-map-marker fa-2x">
                                    <span class="contact-text place">Baku,Azerbaijan</span>
                                </i>
                            </li>

                            <li class="list-item">
                                <i class="fa fa-phone fa-2x">
                                    <span class="contact-text phone">
                                        <a href="tel:1-212-555-5555" title="Give me a call">(055) 750-2004</a>
                                    </span>
                                </i>
                            </li>

                            <li class="list-item">
                                <i class="fa fa-envelope fa-2x">
                                    <span class="contact-text gmail">
                                        <a href="mailto:#"
                                           title="Send me an email">mylifebluemoon@gmail.com</a>
                                    </span>
                                </i>
                            </li>

                        </ul>

                        <hr>
                        <ul class="social-media-list">
                            <li>
                                <a href="#" target="_blank" class="contact-icon">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="contact-icon">
                                    <i class="fa fa-codepen" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="contact-icon">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="contact-icon">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                        <hr>

                        <div class="copyright">&copy;Bütün müəllif hüquqları qorunur</div>

                    </div>

                </div>

            </div>


</footer>
