<link href="~/css/about.css" rel="stylesheet" />
<div class="Video">
    <video autoplay muted loop id="myVideo">
        <source src="~/Image/Introducing Dynamic Islan-VideoIndirelim.com.mp4" type="video/mp4">
    </video>
</div>



<div class="responsive-container-block outer-container">
    <div class="responsive-container-block inner-container">
        <p class="text-blk heading-text">
            Our Instructors
        </p>
        <p class="text-blk sub-heading-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
        <div class="responsive-container-block cards-container">
            <div class="responsive-cell-block wk-desk-4 wk-ipadp-4 wk-mobile-12 wk-tab-12 card-container">
                <p class="text-blk name">
                    Maxwell Doe
                </p>
                <p class="text-blk position">
                    Instructor
                </p>
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eourInstructors1.svg"
                     class="team-member-image" />

            </div>
            <div class="responsive-cell-block wk-desk-4 wk-ipadp-4 wk-mobile-12 wk-tab-12 card-container">
                <p class="text-blk name">
                    Maxwell Doe
                </p>
                <p class="text-blk position">
                    Instructor
                </p>
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eourInstructors2.svg"
                     class="team-member-image" />

            </div>
            <div class="responsive-cell-block wk-desk-4 wk-ipadp-4 wk-mobile-12 wk-tab-12 card-container">
                <p class="text-blk name">
                    Maxwell Doe
                </p>
                <p class="text-blk position">
                    Instructor
                </p>
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eourInstructors3.svg"
                     class="team-member-image" />

            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_footer")

