<link href="~/css/index.css" rel="stylesheet" />

    <div class="Video">
        <video autoplay muted loop id="myVideo">
            <source src="~/Image/Meet iOS 17 _ Apple-VideoIndirelim.com.mp4" type="video/mp4">
        </video>
    </div>


    <div class="ImageContainer">

        <div class="Text">
            <h1>Personal is powerful.</h1>
            <h1>Discover with us the world </h1>

        </div>

        <div class="A">
            <img src="https://media.wired.com/photos/632b71c4f1e5c40d2b1bc705/master/pass/AirPods-Pro-2nd-Gen-Gear.jpg" alt="" srcset="">


            <div class="A1">
                <img src="~/Image/ss1.png" alt="">
                <!-- <p>Salam</p> -->
            </div>

        </div>


        <div class="A">
            <img style="height:380px;" src="https://sm.pcmag.com/pcmag_au/gallery/t/the-most-i/the-most-intriguing-features-in-apple-watch-series-4_36cd.jpg" " alt="">
            <div class="A1">
             
            <img src="/Image/ss2.png" alt="">

            </div>
        </div>


        <div class="A ">
            <img style="height:380px;" src="https://www.apple.com/v/ipad-pro/ai/images/meta/ipad-pro_overview__f7l0byr65ceq_og.png" alt="">
            <div class="A1">
            
                <img src="/Image/ss123.png" alt="">


            </div>
        </div>


        <div class="A">
            <img style="height:380px;" src="https://www.apple.com/v/macbook-pro-13/l/images/overview/hero_startframe__gfzn6m1jpf6u_large_2x.jpg" alt="">
            <div class="A1">
            
                <img src="/Image/ss4.png" alt="">



            </div>
        </div>


        <div class="A">
            <img style="height:380px; " src="https://bgr.com/wp-content/uploads/2022/09/apple-iphone-14-event-124.jpg?quality=82&strip=all" alt="" srcset="">
            <div class="A1">
    
                <img src="~/Image/ss5.png" alt="">


            </div>
        </div>


        <div class="A">
            <img style="height:380px;" src="https://developer.apple.com/news/images/og/ios-16-og.jpg" alt="" srcset="">
            <div class="A1">
     
                <img src="~/Image/ss60.png" alt="">


            </div>
        </div>





    </div>



@await Html.PartialAsync("_footer")



