/* scrol  */
/* width */
html {
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
    width: 3px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #111111;
    display: none;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #000000;
    }

.navbar {
    background-color: rgb(0, 0, 0) !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 1000;
}
#name {
    color: rgb(34, 137, 255);
    font-size: 24px;
}

.div {
    width: 100%;
    height: 40px;
    /*     background-color:red;*/
    text-align: center;
}

.d-flex {
    width: 15%;
}
.nav-link {
    color: rgb(254, 255, 255) !important;
    font-size: 19px !important;
    font-family: 'Raleway', sans-serif !important;
}

    .nav-link:hover {
        color: rgb(17, 188, 255) !important;
    }

.Video {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%);
}

#myVideo {
    /* position: fixed; */
    /* right: 0;
  bottom: 0; */
    min-width: 100%;
    min-height: 100vh;
}

.responsive-cell-block {
    min-height: 75px;
}

* {
    font-family: Nunito, sans-serif;
}

.text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
}

.outer-container {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(33, 40, 64, 0.805) 75%, rgb(9, 9, 31) 100%), url(../Image/wave-haikei.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.heading-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 35px;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 32px;
    margin-left: 0px;
    text-align: center;
}

.sub-heading-text {
    max-width: 470px;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 100px;
    margin-left: 0px;
    margin: 0 0 70px 0;
}

.inner-container {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.cards-container {
    max-width: 1320px;
}

.name {
    font-size: 22px;
    line-height: 35px;
    font-weight: 700;
    color: rgb(255, 254, 254);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.position {
    color: rgb(15, 106, 162);
    font-size: 22px;
    line-height: 35px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.team-member-image {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
}
/* .social-media-icon{
    margin-top:0px;
    margin-right:25px;
    margin-bottom:0px;
    margin-left:0px;
    cursor:pointer;
    margin:0 25px 10px 0;
    color: azure !important;;
  } */
.card-container {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
    margin: 0 0 30px 0;
}
/* @media (max-width: 1024px){
    .socialMediaIcons{
      margin:0 20px 10px 0;
    }
  } */
@media (max-width: 768px) {
    .card-container {
        margin: 0 0 60px 0;
        width: 80%;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .inner-container {
        padding: 10px 0 10px 0;
        margin: 50px 0 50px 0;
    }

    .cards-container {
        padding: 10px 0 10px 0;
    }

    .card-container {
        width: 100%;
        padding: 0 15px 0 15px;
    }

    .outer-container {
        padding: 10px 20px 10px 20px;
    }

    .sub-heading-text {
        font-size: 20px;
        line-height: 25px;
        margin: 0 0 30px 0;
    }

    .heading-text {
        font-size: 22px;
        line-height: 28px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wk-desk-1 {
    width: 8.333333%;
}

.wk-desk-2 {
    width: 16.666667%;
}

.wk-desk-3 {
    width: 25%;
}

.wk-desk-4 {
    width: 33.333333%;
}

.wk-desk-5 {
    width: 41.666667%;
}

.wk-desk-6 {
    width: 50%;
}

.wk-desk-7 {
    width: 58.333333%;
}

.wk-desk-8 {
    width: 66.666667%;
}

.wk-desk-9 {
    width: 75%;
}

.wk-desk-10 {
    width: 83.333333%;
}

.wk-desk-11 {
    width: 91.666667%;
}

.wk-desk-12 {
    width: 100%;
}

@media (max-width: 1024px) {
    .wk-ipadp-1 {
        width: 8.333333%;
    }

    .wk-ipadp-2 {
        width: 16.666667%;
    }

    .wk-ipadp-3 {
        width: 25%;
    }

    .wk-ipadp-4 {
        width: 33.333333%;
    }

    .wk-ipadp-5 {
        width: 41.666667%;
    }

    .wk-ipadp-6 {
        width: 50%;
    }

    .wk-ipadp-7 {
        width: 58.333333%;
    }

    .wk-ipadp-8 {
        width: 66.666667%;
    }

    .wk-ipadp-9 {
        width: 75%;
    }

    .wk-ipadp-10 {
        width: 83.333333%;
    }

    .wk-ipadp-11 {
        width: 91.666667%;
    }

    .wk-ipadp-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wk-tab-1 {
        width: 8.333333%;
    }

    .wk-tab-2 {
        width: 16.666667%;
    }

    .wk-tab-3 {
        width: 25%;
    }

    .wk-tab-4 {
        width: 33.333333%;
    }

    .wk-tab-5 {
        width: 41.666667%;
    }

    .wk-tab-6 {
        width: 50%;
    }

    .wk-tab-7 {
        width: 58.333333%;
    }

    .wk-tab-8 {
        width: 66.666667%;
    }

    .wk-tab-9 {
        width: 75%;
    }

    .wk-tab-10 {
        width: 83.333333%;
    }

    .wk-tab-11 {
        width: 91.666667%;
    }

    .wk-tab-12 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wk-mobile-1 {
        width: 8.333333%;
    }

    .wk-mobile-2 {
        width: 16.666667%;
    }

    .wk-mobile-3 {
        width: 25%;
    }

    .wk-mobile-4 {
        width: 33.333333%;
    }

    .wk-mobile-5 {
        width: 41.666667%;
    }

    .wk-mobile-6 {
        width: 50%;
    }

    .wk-mobile-7 {
        width: 58.333333%;
    }

    .wk-mobile-8 {
        width: 66.666667%;
    }

    .wk-mobile-9 {
        width: 75%;
    }

    .wk-mobile-10 {
        width: 83.333333%;
    }

    .wk-mobile-11 {
        width: 91.666667%;
    }

    .wk-mobile-12 {
        width: 100%;
    }
}

footer {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(33, 40, 64, 0.805) 75%, rgb(9, 9, 31) 100%), url(../Image/wave-haikei.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


#contact {
    width: 100%;
    height: 100%;
}

.section-header {
    text-align: center;
 
}

    .section-header h1 {
        margin: 0 auto;
        padding: 40px 0;
        /* font: 300 60px ; */
        color: #ffffff;
        transition: 0.5s;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 6px;
        width: 30%;
        /* text-shadow: 0 0 8px #01ffff; */
        cursor: pointer;
        /* font-family: 'Fredericka the Great', cursive; */
    }

        .section-header h1:hover {
            transition: 0.5s;
            font-size: 60px;
            text-shadow: 0 0 8px #030125;
        }

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}



/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px "Lato", sans-serif;
    letter-spacing: 1.9px;
    color: #aaa;
}

.contact-list i {
    color: #c8c7cc;
}

.place {
    margin-left: 32px;
}

.phone {
    margin-left: 36px;
}

.gmail {
    /* position: relative; */
    /* left:50px; */
    margin-left: 23px !important;
}


.contact-text a {
    color: #aaa;
    text-decoration: none;
    transition-duration: 0.2s;
}

    .contact-text a:hover {
        color: #07698c;
        text-decoration: none;
    }

/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

    .social-media-list li a {
        color: #fff;
    }

    .social-media-list li {
        position: relative;
        display: inline-block;
        height: 60px;
        width: 60px;
        margin: 10px 3px;
        line-height: 60px;
        border-radius: 50%;
        color: #aaa;
        background-color: rgb(27, 27, 27);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

        .social-media-list li:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 50%;
            opacity: 0;
            box-shadow: 0 0 0 1px #fff;
            transition: all 0.2s ease-in-out;
        }

        .social-media-list li:hover {
            background-color: #0f55b8;
        }

            .social-media-list li:hover:after {
                opacity: 1;
                transform: scale(1.12);
                transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
            }

            .social-media-list li:hover a {
                color: #000;
            }

.copyright {
    font: 200 14px "Oswald", sans-serif;
    /* color: #bf2e97; */
    color: #0f55b8;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255, 255, 255, 0.6);
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: rgb(199, 199, 199);
}

/* Style the submit button */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Style the container */
.container {
    border-radius: 5px;
    /* background-color: #00000000; */
    background: transparent;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.container {
    /* background-color: #01ffff; */
    position: relative;
    bottom: 50px;
}

#btn {
    width: 65%;
    position: relative;
    top: 5px;
    left: 30%;
}

input {
    background: transparent;
}

textarea {
    background: transparent;
}

select {
    background: transparent;
    color: rgb(153, 153, 153);
}

option {
    background: rgb(0, 0, 0);
    color: white;
}

.copyright {
    color: #b1b7bc;
}
